header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.9rem;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    z-index: 2;

    .container {
        @include flex(row, center, space-between);
    }

    nav {
        ul {
            display: flex;
            align-items: center;

            li {
                &:not(:first-child) {
                    margin-left: 3.6rem;
                }

                a {
                    display: flex;
                    align-items: center;
                    color: $blue-dark;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    transition: all 0.5s;

                    &:hover {
                        color: $green;
                    }

                    img {
                        margin-right: $gutter;
                    }
                }

                .btn-highlight {
                    display: flex;
                    align-items: center;
                    color: $white;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    cursor: pointer;
                    padding: 15px 32px;
                    border-radius: 10px;
                    background-color: $green;
                    transition: background-color 0.5s ease;
                    border: 1px solid $green;

                    box-shadow: 3px 7px 19px -6px #88bdf7;

                    &:hover {
                        color: $green;
                        background-color: $white;
                    }

                    span {
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        color: $white;
                    }
                }

                button {
                    color: $white;
                }
            }
        }
    }

    .icon-menu-mobile {
        display: none;
        .icon-tabler-menu {
            margin: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .menu-mobile {
            flex-direction: column;
            position: fixed;

            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: $white;

            align-items: center;
            padding: 20px;
            border-radius: 10px;
            display: none;
            z-index: 10;
        }

        .active {
            display: block;
            animation-name: fadein;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        #close {
            display: block;
            margin: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    @include responsive(900px) {
        .container {
            justify-content: center;
        }

        nav {
            ul {
                li {
                    &:not(:first-child) {
                        margin-left: 0;
                    }
                }
            }
        }

        .menu-desk {
            display: none;
        }

        .icon-menu-mobile {
            display: block;
            cursor: pointer;
        }

        .menu-mobile {
            ul {
                flex-direction: column;
                text-align: center;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;

                li {
                    // margin-right: 0;
                    margin: 16px;

                    a {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    @include responsive(480px) {
        height: 7rem;
        .logo {
            max-width: 180px;
        }
    }
}
