.s-hero {
    background: radial-gradient(circle, rgba(70, 278, 226, 0.2) 0%, rgba(181, 219, 239, 0.5) 76%);
    margin: 7.9rem 6.9rem 0 6.9rem;
    padding-top: 3.9rem;
    border-radius: 40px;

    .container {
        @include flex(row, flex-start, space-between);
        position: relative;
    }

    .stamp {
        position: absolute;
        top: 40%;
    }

    .rotate {
        position: absolute;
        left: 52%;
        width: 120px;
        height: 120px;
        margin: -60px 0 0 -60px;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 24s linear infinite;
    }

    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .text {
        width: 100%;
        max-width: 60rem;
        margin-top: $gutter * 2;

        small {
            color: $purple;
            font-size: 1.4rem;
        }

        h1 {
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 5rem;
            line-height: 110%;
            color: $blue-dark;
            margin: 1.6rem 0;
        }

        p {
            font-size: 1.8rem;
            line-height: 150%;
            color: $blue-dark;
            max-width: 58rem;
            margin-bottom: 3.2rem;
        }

        a {
            @include style-btn(5.4rem, $green, $white);
            margin: 0 auto;
            margin-bottom: 2.6rem;
            color: $white;
            -webkit-box-shadow: 3px 7px 19px -6px rgba(136, 189, 247, 1);
            -moz-box-shadow: 3px 7px 19px -6px rgba(136, 189, 247, 1);
            box-shadow: 3px 7px 19px -6px rgba(136, 189, 247, 1);
        }

        ul {
            display: flex;
            font-size: 1.6rem;
            color: $blue-dark;

            li {
                strong {
                    font-size: 3rem;
                }

                margin-right: $gutter * 6;
            }
        }
    }

    .image {
        position: relative;
        top: 0.4rem;
    }

    @include responsive(1200px) {
        .stamp {
            display: none;
        }
        .text {
            a {
                margin-bottom: 2.6rem;
                width: 300px;
                text-align: center;
            }
        }
    }

    @include responsive(991px) {
        .container {
            flex-direction: column;
        }

        .image {
            margin: 0 auto;
        }

        .stamp {
            display: none;
        }
        .text {
            max-width: 100%;
            // margin-top: 1rem;
            text-align: center;
            h1 {
                text-align: center;
            }
            p {
                max-width: 100%;
                text-align: center;
            }

            ul {
                align-items: center;
                justify-content: center;

                li {
                    margin-right: $gutter * 3;
                    text-align: center;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            a {
                display: flex;
                text-align: center;
                justify-content: center;

                // width: auto;
            }
        }
    }

    @include responsive(600px) {
        padding-top: 2.5rem;
        margin: 0.9rem;
        margin-top: 7rem;

        .text {
            margin-top: $gutter * 6;
            h1 {
                font-size: 3.5rem;
            }

            ul {
                align-items: center;
                justify-content: center;

                li {
                    margin-right: $gutter * 3;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            a {
                display: flex;
                justify-content: center;
                width: auto;
            }
        }
        .image {
            left: -9px;
        }
    }
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 20px;
    position: relative;

    span {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 25s linear infinite;

        font-size: 3rem;
        font-weight: 700;
        color: #c3c3c3;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 140px;
        height: 100%;
        z-index: 2;
    }

    &::before {
        left: 0;
        background: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), $white);
    }

    &::after {
        right: 0;
        background: linear-gradient(270deg, $white, hsla(0, 0%, 100%, 0) 100);
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

.s-resources {
    @include padding-section(6.9rem, 6.9rem);

    .iframe-container {
        display: flex;
        justify-content: center;

        iframe {
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid $green;
            margin-top: 40px;

            width: 80%;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        @include responsive(600px) {
            iframe {
                width: 100%;
                height: 500px;
            }
        }
    }

    h2 {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 130%;
        color: $gray-01;
        max-width: 90.2rem;
        margin: 0 auto;
        text-align: center;

        b {
            color: $green;
            &:last-child {
                color: $purple;
            }
        }
    }

    .line {
        margin-top: 40px;
        width: 90px;
        height: 5px;
        background: $blue;
        background: linear-gradient(90deg, $blue 0%, $green 100%);
        margin: 50px auto 0;

        border-radius: 2px;
    }

    .top {
        @include flex(row, center, space-between);
        margin-bottom: 5.3rem;

        h2 {
            font-weight: bold;
            font-size: 3.2rem;
            line-height: 130%;
            color: $gray-01;
            max-width: 50.2rem;
        }
        p {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            color: $gray-02;
        }
    }

    @include responsive(600px) {
        h2 {
            font-size: 1.6rem;
        }
    }
}

.s-motives {
    @include padding-section(6.9rem, 6.9rem);

    .s-motives-title {
        @include sub-title();
        color: $blue-dark;
        margin-bottom: 20px;
    }

    .tag {
        background-color: rgb(238, 251, 255);
        color: $blue;
        display: inline-block;
        padding: 5px;
        border-radius: 8px;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: normal;

        p {
            max-width: 40rem;
            font-size: 1.4rem;
        }
    }

    ul {
        padding-top: 3.9rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;

        li {
            position: relative;
            width: 23%;
            padding: 8px;

            img {
                position: absolute;
                right: 5px;
                opacity: 0.5;
            }

            &:nth-child(odd) {
                /* Estilos para os elementos ímpares */
                background-color: #fafafa;
                border-radius: 8px;
            }

            &:nth-child(even) {
                /* Estilos para os elementos ímpares */
                // background-color: aliceblue;
                border-radius: 8px;
            }
        }
    }

    h2 {
        color: $purple;
        b {
            color: $green;
        }
    }

    h3 {
        font-size: 2.2rem;
        color: $blue-dark;
        text-transform: capitalize;
    }

    p {
        margin-top: $gutter;
        font-size: 1.4rem;
        color: $gray-01;
    }

    .s-motives-numbers {
        font-size: 6rem;
        margin-bottom: -20px;
    }

    @include responsive(800px) {
        .s-motives-title {
            font-size: 3rem;
            text-align: center;
        }
        .top {
            flex-direction: column;
            text-align: center;
            p {
                max-width: 100rem;
            }
        }
        .tag {
            margin: 0 auto;
            display: table;
            margin-bottom: $gutter;
        }
        ul {
            flex-direction: column;
            margin: 0 auto;
            li {
                width: 100%;
                text-align: center;
                padding: 2rem;
            }
        }
    }
}

.s-time {
    @include padding-section(8.9rem, 15.9rem);

    .s-time__flex {
        @include flex(row, center, space-between);

        div {
            width: 50%;
        }

        .s-time__img {
            position: relative;
            img {
                position: relative;
                border-radius: 20px;
                max-width: 80%;
                margin-top: 29px;
                margin-left: 5%;
            }

            .s-time__img--box-azul {
                position: absolute;
                background-color: $blue-light;
                width: 60%;
                height: calc(100% + 30px);
                border-radius: 20px;
                z-index: 0;
            }
        }

        .s-time__text {
            small {
                color: $purple;
                font-size: 1.4rem;
                margin-top: 3.9rem;
                font-weight: 700;
                z-index: 2;
            }

            h2 {
                @include sub-title();
                margin: ($gutter * 2) 0;
            }

            a {
                @include style-btn(5rem, $purple, #f6f6f6);
                margin-top: 4.6rem;
                color: $white;

                box-shadow: 3px 7px 19px -6px #88bdf7;
            }
        }
    }

    @include responsive(800px) {
        @include padding-section(2.9rem, 6.9rem);

        .s-time__flex {
            @include flex(column, center, space-between);

            div {
                width: 100%;
                text-align: center;
            }

            .s-time__img {
                img {
                    margin-left: 0;
                }
                .s-time__img--box-azul {
                    position: absolute;
                    background-color: $blue-light;
                    width: 100%;
                    height: calc(100% + 30px);
                    border-radius: 20px;
                }
            }

            .s-time__text {
                margin-top: 50px;
                h2 {
                    margin: $gutter * 2 auto;
                }
            }
        }
    }
}

.s-testimonial {
    @include padding-section(2.9rem, 6.9rem);
    background-color: $blue-light;
    background: radial-gradient(circle, rgba(181, 219, 239, 08) 0%, rgba(70, 255, 226, 0.2) 86%);
    text-align: center;
    .container {
        padding: 3rem;
        border-radius: 40px;
    }

    .tag {
        color: $purple;
        font-size: 1.6rem;
        margin-top: 3.9rem;
        font-weight: 600;
    }

    .cards {
        display: flex;
        margin-bottom: 3.9rem;
    }

    .card {
        background-color: $white;
        border-radius: 20px;
        text-align: center;
        height: 208px;
        margin-top: 50px;
        margin-left: $gutter;
        margin-right: $gutter;
        padding-bottom: $gutter;

        img {
            margin-top: -20px;
            width: 50px;
            border-radius: 100%;
            border: 4px solid $blue-light;
        }

        p {
            margin-top: $gutter;
            color: $gray-01;
            padding: $gutter;
        }
    }
    h2 {
        @include sub-title();
    }

    @include responsive(600px) {
        .cards {
            margin-bottom: 0;
        }
    }
}

.s-faq {
    @include padding-section(8.9rem, 16.9rem);

    h2 {
        @include sub-title();
        margin-bottom: $gutter * 2;
        text-align: center;
    }

    .accordion {
        width: 80%;
        margin: 0 auto;
        .accordion-item {
            border-bottom: 1px solid $lightgray;
            button[aria-expanded="true"] {
                border-bottom: 1px solid $purple;
            }
        }
        button {
            position: relative;
            display: block;
            text-align: left;
            width: 100%;
            padding: 1em 0;
            color: $text;
            font-size: 1.15rem;
            font-weight: 400;
            border: none;
            background: none;
            outline: none;
            &:hover,
            &:focus {
                cursor: pointer;
                color: $purple;
                &::after {
                    cursor: pointer;
                    color: $purple;
                    border: 1px solid $purple;
                }
            }
            .accordion-title {
                padding: 1em 1.5em 1em 0;
                font-size: 1.6rem;
            }
            .icon {
                display: inline-block;
                position: absolute;
                top: 18px;
                right: 0;
                width: 22px;
                height: 22px;
                border: 1px solid;
                border-radius: 22px;
                &::before {
                    display: block;
                    position: absolute;
                    content: "";
                    top: 9px;
                    left: 5px;
                    width: 10px;
                    height: 2px;
                    background: currentColor;
                }
                &::after {
                    display: block;
                    position: absolute;
                    content: "";
                    top: 5px;
                    left: 9px;
                    width: 2px;
                    height: 10px;
                    background: currentColor;
                }
            }
        }
        button[aria-expanded="true"] {
            color: $purple;
            .icon {
                &::after {
                    width: 0;
                }
            }
            + .accordion-content {
                opacity: 1;
                max-height: 15em;
                transition: all 200ms linear;
                will-change: opacity, max-height;
                margin-bottom: $gutter;
            }
        }
        .accordion-content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear, max-height 200ms linear;
            will-change: opacity, max-height;
        }
    }
}

#demo-modal {
    position: fixed;
}

.modal {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(16, 16, 16, 0.7);
    transition: all 0.4s;
    z-index: 3;

    #btn-submit:disabled {
        background-color: rgb(240, 240, 240);
        color: $gray-01;
        &:hover {
            color: $white;
        }
    }

    h2 {
        margin-bottom: $gutter * 3;
        font-size: 2rem;
        max-width: 80%;
    }

    button {
        @include style-btn(4.4rem, $green, $white);
        color: $white;
        margin-top: $gutter * 4;
        width: 100%;
    }

    .success {
        text-align: center;
        background-color: #adf5cc;
        padding: 5px;
        border: #2cd5c4 1px solid;
        border-radius: 5px;
        color: #177e74;
    }

    .error {
        text-align: center;
        background-color: #fa9d68;
        padding: 5px;
        border: #d52c2c 1px solid;
        border-radius: 5px;
        color: #7e1717;
    }

    &:target {
        visibility: visible;
        opacity: 1;
    }

    .modal__content {
        border-radius: 4px;
        position: relative;
        width: 500px;
        border: 8px solid #dfe6e9;
        max-width: 90%;
        background-color: #fff;
        padding: 1em 2em;
    }

    .modal__fechar {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #9d9898;
        text-decoration: none;
        font-weight: bold;
        font-size: 2.5rem;
        margin-right: 5px;
    }
}

.s-form {
    background: linear-gradient(90deg, rgba(227,220,255,1) 0%, rgba(227,255,248,0.8603816526610644) 59%);

     .tag {
        color: #3153e7;
        font-size: 1.6rem;
        margin-top: 3.9rem;
        font-weight: 600;
    }

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: $gutter*2;

        .text{
            width: 50%
        }

        form{
            width: 40%;
            padding:20px;
            background-color: $white;
            border-radius: 20px;

            box-shadow: 3px 7px 19px -6px #d3e8ff;
        }
    }

    @include padding-section(6.9rem, 6.9rem);

    h2 {
        @include sub-title();
        margin-bottom: $gutter * 2;
        text-align: center;
    }

    p{
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    button {
        @include style-btn(4.4rem, $green, $white);
        color: $white;
        margin-top: $gutter * 4;
        width: 100%;
    }

    @include responsive(991px) {
        .content {
            flex-direction: column-reverse;
            .text{
                width: 100%
            }
    
            form{
                width: 100%;
            }
        }
    }
}

footer {
    background-color: $blue-dark;
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
    color: $white;
    padding: 40px 0;

    .col-1 {
        width: 50%;

        p {
            margin-bottom: $gutter * 5;
        }

        ul {
            display: flex;
            margin-top: 20px;
            margin-bottom: 40px;
            li {
                margin-right: $gutter * 3;
            }
        }
    }

    .col-2 {
        width: 25%;
        li {
            font-size: 1.2rem;
            margin: $gutter 0;
        }
        li:hover {
            cursor: pointer;
            color: $green;
        }
    }

    .col-3 {
        width: 25%;
        img {
            margin-right: $gutter * 2;
        }

        li {
            margin-top: $gutter * 3;
        }
    }

    .mb {
        margin-bottom: $gutter * 3;
    }

    .mt {
        margin-top: $gutter * 3;
    }

    h3,
    h4 {
        color: rgba($white, 0.9);
    }

    .btn-whats {
        position: fixed;
        bottom: 20px;
        z-index: 10;
        right: 20px;
        background-color: #4ddd53;
        padding: 8px 12px;
        border-radius: 100%;
        cursor: pointer;

        box-shadow: 3px 7px 19px -6px #88bdf7;
        svg {
            margin-top: 2px;
        }
    }

    ul {
        li {
            a {
                color: $white;
                &:hover {
                    color: $green;
                }
            }
        }
    }

    @include responsive(800px) {
        .d-flex {
            flex-direction: column;
        }
        .col-1,
        .col-2,
        .col-3 {
            width: 100%;
        }

        .col-3 {
            img {
                width: 40px;
            }
            .d-flex {
                flex-direction: row;
            }
        }
    }
}
