@mixin responsive($ScreenWidth) {
    @media (max-width: $ScreenWidth) {
        @content;
    }
}

@mixin flex($direction, $align, $justifify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justifify;
}

@mixin style-btn($height, $bg, $colorText) {
    display: inline-block;
    // height: $height;
    line-height: $height;
    background-color: $bg;
    border-radius: 10px;
    padding: 0 5rem;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s;

    box-shadow: 3px 7px 19px -6px #88bdf7;
    &:hover {
        background-color: $colorText;
        color: $bg;
    }
}

@mixin padding-section($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin sub-title() {
    font-size: 3.5rem;
    line-height: 50px;
    @include responsive(800px) {
        font-size: 3rem;
        line-height: 28px;
    }
}
