$white: #fff;
$purple: #3153e7;
$yellow: #ffbf00;
$green: #46f8a3;
$gray-01: #453f51;
$gray-02: #5e5570;
$blue: #35c0ed;
$blue-light: #7ed7f5;
$blue-dark: #381f6e;
$blue-light: #dbeffa;
$red: #ff5757;
$black: #000;
$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;

$gutter: 8px;
$border-radius: 4px;

* {
    --swiper-navigation-size: 15px !important;
}
